src/main/mule/maven-teddy-demo-deployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c4c6529a-cc0a-466a-a781-73ad284e282d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="maven-teddy-demo-deploymentFlow" doc:id="c27d19fd-1699-410e-9e95-f8c505ee9961" >
		<http:listener doc:name="Listener" doc:id="e819dae2-adc8-45fd-8bd5-373b5cb88f47" config-ref="HTTP_Listener_config" path="/mavendemo"/>
		<logger level="INFO" doc:name="Logger" doc:id="dd0006a5-d508-4fe4-aad7-71b862d6387f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="a4a1bde1-35f2-4a02-b3c9-45d4f01937b0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "maven deployment sucessfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
